<h2>Create Poney</h2>

<form [formGroup]="poneyForm" (submit)="handleSubmit()">

  <mat-form-field>
    <input formControlName="name" matInput placeholder="Name">
    <mat-error *ngFor="let errorMessage of errorMessages | keyvalue">
      <span *ngIf="poneyForm.controls.name.hasError(errorMessage.key)">
        {{ errorMessage.value }}
      </span>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="img" matInput placeholder="Image">
    <mat-error *ngFor="let errorMessage of errorMessages | keyvalue">
      <span *ngIf="poneyForm.controls.img.hasError(errorMessage.key)">
        {{ errorMessage.value }}
      </span>
    </mat-error>
  </mat-form-field>

  <br />

  <button [disabled]="poneyForm.invalid" mat-raised-button type="submit">Create</button>

</form>
